<!--INICIO DO CARRINHO-->
<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>

    <h3 class="box-title">Carrinho</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="table-responsive">
      <div *ngIf="!allAmount().legth">
        <p class="text-center">Nenhum item em seu carrinho</p>
      </div>
        <table class="table" *ngIf="allAmount().legth">
          <tbody>
          <tr>
            <th style="width:60%">Cerveja:</th>

            <td class="text-right">R$ 6,00</td>

          </tr>
          <tr>
            <th>Pork Burger</th>

            <td class="text-right">R$ 22,00</td>
          </tr>
          
          <tr>
            <th>Total:</th>

            <td class="text-right">{{allAmount() | currency: 'BRL': true}}</td>
          </tr>
        </tbody></table>
      </div>
  </div>
  <div class="box-footer" *ngIf="allAmount().legth">
    <div class="pull-right">
      <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
      <a href="order.html" class="btn btn-success"><i class="fa fa-credit-card"></i> Fechar Pedido</a>
    </div>
  </div>
</div>
<!-- FIM DO CARRINHO -->